---
layout: default.njk
title: Buttons
description: Buttons - A collection of buttons
---

<h1>Buttons</h1>

<p>Buttons enable users to initiate actions and submit information within the interface. Different button variants establish a visual hierarchy that guides users through tasks and emphasizes key actions.</p>

<button class="btn">Default Button</button>

<p>This neutral button is used for general actions that don't require immediate attention. It is safe, reliable, and suited to non-critical functions that users might frequently select.</p>

<button class="btn btn-primary">Primary</button>

<p>The primary button highlights the main action on the screen, typically representing essential or required actions, such as "Submit" or "Continue." Only one primary button should be present per section or view to maintain clarity and focus.</p>

<button class="btn btn-secondary">Secondary</button>

<p>Secondary buttons are for supplementary actions related to the main task, like "Edit," "Cancel," or "Back." They provide alternatives without overwhelming the user or competing with the primary action. Secondary buttons help complete actions within a workflow without detracting from the screen's main goal. This button should be used sparingly to avoid confusion.</p>

<h2>Further documentation</h2>

<p>For more information about implementation and usage, refer to the <a href="https://daisyui.com/components/button/">DaisyUI documentation</a>.</p>