---
layout: default.njk
title: Buttons
description: Buttons - A collection of buttons
---

<h1>Buttons</h1>

<p>Here are some buttons:</p>

<button class="btn">Primary</button>
<button class="btn btn-secondary">Secondary</button>

