---
layout: default.njk
title: Cards
description: Cards - Definitive Card Pack
---

<h1>Cards</h1>

<p>Cards are versatile containers that can display various types of content, such as text, images, and actions in a seperated and organized manner. They can also be used to group related information and make it easier for users to scan and interact with the content, such as lists, links and dashboards.</p>

<h2>Example</h2>

<div class="grid mt-3 grid-cols-1 sm:grid-cols-2 gap-y-2 gap-x-2 sm:mt-2 2xl:mt-0">
	
	<div class="card bg-base-200 w-72">
		<div class="card-body">
			<p>Are you ready for more?</p>
			<div class="card-actions justify-end">
				<button class="btn btn-primary">Confirm</button>
			</div>
		</div>
	</div>
	<div class="card shadow-xl w-72">
		<div class="card-body items-center text-center">
			<p>Are you ready for more?</p>
			<div class="card-actions justify-end">
				<button class="btn btn-primary">Accept</button>
				<button class="btn">Deny</button>
			</div>
		</div>
	</div>

</div>

<h2>Usage Guidelines</h2>

<ul>
	<li>Use cards to group related information and actions.</li>
	<li>Ensure that the content within a card is concise and relevant.</li>
	<li>Use appropriate card variants to indicate the importance or type of content.</li>
	<li>Maintain consistent spacing and alignment within and between cards.</li>
</ul>

<h2>Further Documentation</h2>

<p>For more information about implementation and usage, refer to the <a href="https://daisyui.com/components/card/">DaisyUI documentation</a>.</p>