---
layout: default.njk
title: Typography
description: Typography - Guidelines and Styles
---

<h1>Typography</h1>

<h2>This is Inter</h2>

<p><a href="https://rsms.me/inter/">Inter</a> is a typeface specially designed for user interfaces with a focus on high legibility of text on screens. It comes in a variety of weights and styles, making it a versatile typeface for different use cases. Inter makes it easy to read text on screens, which is essential for a system that needs to be accessible to all users with different visual abilities.</p>

<h2>Regular and Bold Typography</h2>

<p>The design system utilizes both regular and bold typography styles to create a clear visual hierarchy and emphasize important information.</p>

<ul>
	<li><strong>Inter Regular:</strong> Used for body text, labels, and other non-emphasized content.</li>
	<li><strong>Inter Bold:</strong> Emphasized content.</li>
</ul>

<h2>Dos and Don'ts</h2>

<h3>Dos</h3>
<ul>
	<li>Use Inter for all text elements to maintain consistency.</li>
	<li>Maintain left-aligned, ragged-right alignment for paragraphs to support readability.</li>
	<li>Limit font weights to Regular for text, and Bold for important information. For simplicity and cohesion.</li>
	<li>Use appropriate font sizes for different text elements.</li>
</ul>

<h3>Don'ts</h3>
<ul>
	<li>Don't use multiple font sizes or weights within the same block of text, as this reduces readability.</li>
	<li>Don't use bold text excessively, as it can reduce readability.</li>
	<li>Don't use low-contrast text colors between text and background that are hard to read.</li>
	<li>Don't use decorative or expressive typefaces outside of specific marketing materials or graphics.</li>
</ul>

<h2>Further Documentation</h2>
<p>For more information about typography and its implementation, refer to the <a href="https://daisyui.com/docs/layout-and-typography/">DaisyUI documentation</a>. You can find the Inter font <a href="https://rsms.me/inter/">here</a>.</p>